.amap {
  position: absolute;
  width: calc(100% - 225px);
  height: calc(100% - 60px);
  left: 225px;
  top: 60px;
}
.container {
  width: 100%;
  height: 100%;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
